---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/recipes/">Recipes</a>
		<a href="/about/">About</a>

		<h1>About</h1>
		<h2>What is Ripped Recipes?</h2>

		<p>This is an Astro blog hosted on Vercel that holds a blog containing my collection recipes.</p>

		<p>This will be continually updated with my collection of recipes and is designed to make it easy for me to navigate through the 4000+ recipes I've collected already.</p>
	</body>
</html>
